*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}
:root {
    --font-01: 'Poppins', sans-serif;
    --font-02: 'Philosopher', sans-serif;

    /* color  */
    --global-color-0: #e41345;
    --global-color-1: #f70077;
    --global-color-2: #1a1a1a;
    --global-color-3: #3e4359;
    --global-color-4: #f7f7f7;
    --global-color-5: #fff;
    --global-color-6: #243673;
    --global-color-7: #BFD1FF;

}

.transform-img {
    padding: 0;
    position: absolute;
    width: 130%;
    bottom: 0;
    z-index: 2;
    display: flex;
}

.transform-img img {
    transform: rotate(180deg);
    z-index: 2;
    width: 100%;
    position: relative;
    bottom: -1px;
}